/*=============================================
#
# Copyright 2012 David Racca and Matias Molina.
#
# This file is part of ADIUC Salary Calculator.
#
# ADIUC Salary Calculator is free software: you can redistribute it and/or 
# modify it under the terms of the GNU General Public License as published 
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# ADIUC Salary Calculator is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with ADIUC Salary Calculator.  If not, see 
# <http://www.gnu.org/licenses/>.
#
==============================================*/

.title_importes{
    background-color:#939DAC;
}

div.form_content {
	width:350px;
    margin: 0px;
    background-color: #cdd9de;
    padding:0px;
    font-family: "Arial";
}

.univ_preuniv_form {
    width: 700px;
    height: auto;
    margin: auto;
}

div.form_mes {
    background-color: #004b6a;
    color: #FFFFFF;
    text-align: left;
    font-family: "Arial";
}

table.form_mes {
    margin: auto;
}

div.form_cargo {
    background-color: #ededed;
    height: auto;
    margin: 0px;
    font-family: "Arial";
    /*min-height: 170px;*/
    /*height: 170px;*/
}

a.agregar_quitar {
    color: #000000;
    font-size: small;
}

p.padding_fix {
    padding-top: 4px;
}

#errorbox{
    width:400px;
    background-color:#FA8072;
    font-size:11pt;
}

#submit {
	width:860px;
    margin: 0px;
    font-size: 7pt;
    text-align: center;
}
#calculate{
	width:700px;
}

.centeralign {
    text-align: center;
}

.rightalign {
    text-align: right;  
}
div.totales{
    background-color: #004B6A;
    text-align: left;
    font-family: "Arial";
    color: white;
    width:550px;
    font-family: "Arial";
}

#table_totales {
    width:550px;
}

table.result {
    margin:0px;
    padding:0px;
    width:550px;
    background-color: #cdcdcd;
    font-family: "Arial";
}

table.result td{
    background-color: #ededed;
}

td.descuentos{
    color:#550000;
}

td.adicionales{
    color:#005500;
}

.bold{
    font-weight: bold;
}

div.title {
    background-color: #004b6a;
    color: #FFFFFF;
    text-align: center;
    font-family: "Arial";
    width:550px;

}

#forms_table {
	width: 700px;
	margin: 0px;
    padding:0px;
}

#univformset_content{
	float:left;
}

#preunivformset_content{
	float:right;
}

div.results_cargo {
    background-color: #cdcdcd;
    width:550px;
    text-align:left;
    font-family:"Arial";
}

tr.dark{
    background-color: #ededed;
}
hr{
	border: 1px #ededed dotted;
}

tr.error{
    background-color: #E00000 ;
    color: yellow;
    font-size:small;
    padding: 0px;
    margin: 0px;
}
