div.form_content {
	width:420px;
    margin: 0px;
    background-color: #cdd9de;
    padding:0px;
    font-family: "Arial";
}

#form_mes {
    background-color: #004b6a;
    color: #FFFFFF;
    text-align: center;
    font-family: "Arial";
}

div.form_cargo {
    background-color: #ededed;
    margin: 0px;
    height:auto;
    font-family: "Arial";
}

a.agregar_quitar {
    color: #000000;
    font-size: small;
}

#submit {
	width:860px;
    margin: 0px;
    text-align: center;
}
#calculate{
	width:900px;
}

.centeralign {
    text-align: center;
}

.rightalign {
    text-align: right;  
}
div.totales{
    background-color: #224d8c;
    text-align: left;
    font-family: "Arial";
    width:550px;
    font-family: "Arial";
}

#table_totales {
    width:550px;
}
table.result {
    margin:0px;
    padding:0px;
    width:550px;
    background-color: #cdcdcd;
    font-family: "Arial";
}

table.result td{
    background-color: #ededed;
}

td.descuentos{
    color:#550000;
}

td.adicionales{
    color:#005500;
}

.bold{
    font-weight: bold;
}

div.title {
    background-color: #004b6a;
    color: #FFFFFF;
    text-align: center;
    font-family: "Arial";
    width:550px;

}

#forms_table {
	width: 900px;
	margin: 0px;
    padding:0px;
}


#univformset_content{
	float:left;
	width:450rpx;
}

#preunivformset_content{
	float:right;
	width:450px;
	height:auto;
}

div.results_cargo {
    background-color: #cdcdcd;
    width:550px;
    text-align:left;
    font-family:"Arial";
}

tr.dark{
    background-color: #ededed;
}
hr{
	border: 1px #cdcdcd dotted;
}

tr.error{
	    background-color: #E00000 ;
	    color: yellow;
	    font-size:small;
	    padding: 0px;
	    margin: 0px;
}
