{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es-es" lang="es-es" dir="ltr">

	<head>
		<link rel="stylesheet" href="{% get_static_prefix %}css/style.css" type="text/css" />
		<title>Calculo Salarial</title>
	</head>
	
	<body>
		<form action="/calculate/" method="POST">
			<div id="form_content">
				<div id="form_mes">
					{{ fmes.as_table}}
				</div>

				<div class="form_cargo">
					<table>
						<tr>
							<td> Cargo: </td>
							<td> {{ form.cargo }} </td>
						</tr>
						<tr>
							<td>A&ntilde;os de antiguedad:</td>
							<td> {{form.antiguedad}} </td>
						</tr>
						<tr>
							<td>T&iacute;tulos adicionales:</td>
						</tr>
						<tr colspand=2>
							<td><blockquote>
								{{ form.master }} {{ form.master.label }} 
								<br>
								{{ form.doctorado }} {{ form.doctorado.label }}
								</blockquote>

							</td>
						</tr>					
					</table>
				</div>
				<a id="nuevo_cargo" href="">[+] A&ntilde;adir nuevo cargo</a>
				<div id="submit"><input type="submit" value="Calcular" /></div>
			</div>
		</form>
	</body>

</html>
