{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es-es" lang="es-es" dir="ltr">

	<head>
		<title>C&aacute;lculo Salarial</title>
    	<link rel="stylesheet" href="{% get_static_prefix %}css/style.css" type="text/css" />
	</head>

	<body>
	<div style="background-image: url('{% get_static_prefix %}images/bg.png');" align=center>
			<div class = "title">
			    C&aacute;lculo salarial para el periodo: {{ aumento.get_mes_display }} {{ aumento.get_anio_display }} ({{ aumento.porcentaje }}%)
			</div>

            <br>
            <div class="results_cargo">
                {% for res in lista_res %}
                <table> 
                    <tr>
                        <td> Cargo: </td>
                        <td>{{ res.cargo.tipo }} {% if res.cargo.dedicacion %}, {{ res.cargo.get_dedicacion_display }}{% endif %}</td>
                    </tr>
                    <tr> <td> C&oacute;digo LU: </td> <td> {{ res.cargo.lu }} </td> </tr>
                    <tr> <td> C&oacute;digo PAMPA: </td> <td> {{ res.cargo.pampa }} </td> </tr>
                </table>
                <table class="result" cellspaing=2><br>
                    <tr>
                        <th> C&oacute;digo </th>
                        <th> Detalle </th>
                        <th> Importe </th>
                    </tr>
                    <tr>
                        <td> 10 </td>
                        <td> Sueldo B&aacute;sico </td>
                        <td> {{ res.basico_unc|floatformat:-2 }} </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td> Antiguedad ({{antiguedad.anio}} años - {{ antiguedad.porcentaje }}%)</td>
                        <td>{{ res.antiguedad_importe|floatformat:-2 }} </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td> {{ aumento.get_mes_display }} {{ aumento.get_anio_display }} ({{ aumento.porcentaje }}% sobre {{ res.basico_nac }})</td>
                        <td class="adicionales">{{ res.aumento|floatformat:-2 }} </td>
                    </tr>
                    
                    {% for obj, importe in res.remuneraciones %}
                    {% if obj.codigo == "118" %} <!-- Adicional 2003 8% -->
						<tr>
                            <td> {{ obj.codigo }} </td>
                            <td> {{ obj.nombre }} {% if obj.porcentaje %}({{ obj.porcentaje }}%){% endif %} </td>
                            <td class="adicionales">{{ importe|floatformat:-2 }} </td>
                        </tr>
                    {% endif %}
                    {% endfor %}

                    {% for obj, importe in res.remuneraciones %}
                    {% if obj.codigo == "122" %} <!-- FONID  -->
						<tr>
                            <td> {{ obj.codigo }} </td>
                            <td> {{ obj.nombre }} {% if obj.porcentaje %}({{ obj.porcentaje }}%){% endif %} </td>
                            <td class="adicionales">{{ importe|floatformat:-2 }} </td>
                        </tr>
                    {% endif %}
                    {% endfor %}

                    <tr class="bold">
                        <td></td>
                        <td>Salario Bruto:</td>
                        <td>{{ res.salario_bruto|floatformat:-2 }} </td>
                    </tr>

                    {% for obj, importe in res.remuneraciones %}
                    {% if obj.codigo != "118"  and obj.codigo != "122"%}
                     <tr>
                        <td> {{ obj.codigo }} </td>
                        <td> {{ obj.nombre }} {% if obj.porcentaje %}({{ obj.porcentaje }}%){% endif %} </td>
                        <td class="adicionales">{{ importe|floatformat:-2 }} </td>
                    </tr>
                    {% endif %}
                    {% endfor %}

                    {% for obj, importe in res.retenciones %}
                     <tr>
                        <td> {{ obj.codigo }} </td>
                        <td> {{ obj.nombre }} (-{{ obj.porcentaje }}%) </td>
                        <td class="descuentos">-{{ importe|floatformat:-2 }}</td>
                    </tr>
                    {% endfor %}
                    
                    <tr class="bold">
                        <td></td>
                        <td> Adicionales: </td>
                        <td class="adicionales"> {{ res.acum_rem|floatformat:-2 }} </td>
                    </tr>
                    <tr class="bold">
                        <td></td>
                        <td> Descuentos: </td>
                        <td class="descuentos"> -{{ res.acum_ret|floatformat:-2 }} </td>
                    </tr>
                    <tr class="bold">
                        <td></td>
                        <td> Salario Neto: </td>
                        <td> {{ res.salario_neto|floatformat:-2 }} </td>
                    </tr>
                </table>
               <hr />
                {% endfor %}

            </div>

            <div class="totales bold">
                <table id="table_totales">
                    <tr>
                        <td> Total Bruto: </td>
                        <td > {{ total_bruto|floatformat:-2 }} </td>
                    </tr>
                    <tr>
                        <td> Total Adicionales: </td>
                        <td> <font color="#00bb00"> {{ total_rem|floatformat:-2 }} </td>
                    </tr>
                    <tr>
                        <td> Total Descuentos: </td>
                        <td> <font color="#660000"> -{{ total_ret|floatformat:-2 }} </fonts></td>
                    </tr>
                    <tr>
                        <td> Total Neto: </td>
                        <td> {{ total_neto|floatformat:-2 }} </td>
                    </tr>
                </table>
            </div>
            <br><br>
            <a class="agregar_quitar"href="javascript: history.go(-2)"> Volver</a>
	</div>
	</body>

</html>
