{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es-es" lang="es-es" dir="ltr">

	<head>
		<title>C&aacute;lculo Salarial</title>
    	<link rel="stylesheet" href="{% get_static_prefix %}css/style.css" type="text/css" />
    	
    	<script type="text/javascript">
            function goBack(){
                  window.history.back()
            }
        </script>
	</head>

	<body>

			<div class = "title">
			    C&aacute;lculo salarial para {{ aumento.get_mes_display }} {{ aumento.get_anio_display }} : {{ aumento.porcentaje }}%
			</div>

            <br>
            <div class="form_cargo">

                {% for res in lista_res %}
                <div> Cargo: {{ res.cargo }} </div>
                <table class="result">
                    <tr>
                        <th> C&oacute;digo </th>
                        <th> Detalle </th>
                        <th> Importe </th>
                    </tr>
                    <tr>
                        <td> 10 </td>
                        <td> Sueldo B&aacute;sico </td>
                        <td> {{ res.cargo.basico_unc }} </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td> Aum. {{ aumento.get_mes_display }} {{ aumento.get_anio_display }} ({{ aumento.porcentaje }}% sobre {{ res.cargo.basico_nac }})</td>
                        <td class="adicionales">{{ res.aumento }} </td>
                    </tr>

                    {% for obj, importe in res.remuneraciones %}
                     <tr>
                        <td> {{ obj.codigo }} </td>
                        <td> {{ obj.nombre }} {% if obj.porcentage %}({{ obj.porcentage }}%){% endif %} </td>
                        <td class="adicionales">{{ importe }} </td>
                    </tr>
                    {% if obj.codigo == "118" %} <!-- Adicional 2003 8% -->
                    <tr>
                        <td> <b> Bruto: </b></td>
                        <td></td>
                        <td> <b>{{ res.salario_bruto }}</b> </td>
                    </tr><br>
                    {% endif %}
                    {% endfor %}

                    {% for obj, importe in res.retenciones %}
                     <tr>
                        <td> {{ obj.codigo }} </td>
                        <td> {{ obj.nombre }} ({{ obj.porcentage }}%) </td>
                        <td class="descuentos">-{{ importe }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td> <b> Neto: </b></td>
                        <td></td>
                        <td> <b>{{ res.salario_neto }}</b> </td>
                    </tr>
                </table>
                <hr />
                {% endfor %}

            </div>

            <div class="totales">
                <table>
                    <tr>
                        <td><b>Total Bruto: </b></td>
                        <td><b>{{ total_bruto }}</b></td>
                    </tr>
                    <tr>
                        <td><b>Total Neto: </b></td>
                        <td><b>{{ total_neto }}</b></td>
                    </tr>
                </table>
            </div>
            <br><br>
            <a class="agregar_quitar"href="javascript: history.back()"> Volver</a>

	</body>

</html>
