<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es-es" lang="es-es" dir="ltr">

	<head>
		<link rel="stylesheet" href="static_media/css/style.css" type="text/css" />
		<title>Calculo Salarial</title>
	</head>
	
	<body>
		<form action="/calculate/" method="POST">
			<div id="form_content">
				<div id="form_mes">
					Mes:
					<select name="mes">
						<option>Septiembre - 2011</option>
						<option>Marzo - 2012</option>
						<option>Junio - 2012</option>
						<option>Septiembre - 2012</option>
					</select>
				</div>

				<div class="form_cargo">
					<table>
						{{ form.as_table }}					
					</table>
				</div>
				<a id="nuevo_cargo" href="">[+] A&ntilde;adir nuevo cargo</a>
				<div id="submit"><input type="submit" value="Calcular" /></div>
		</form>
	</body>

</html>
