{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es-es" lang="es-es" dir="ltr">

	<head>
		<link rel="stylesheet" href="{% get_static_prefix %}css/style.css" type="text/css" />
        <script type="text/javascript" src="{% get_static_prefix %}js/jquery.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/formset.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/hide_horas_field.js"></script>
		<title>Simulador Salarial ADIUC</title>
	</head>
	
	<body>
	    
		<form action="/calculate/" method="POST">

            <!-- Requerido para contabilizar cuantos forms tiene el formset -->
            {{ univformset.management_form }}
            {{ preunivformset.management_form }}

            <div id="form_mes"> {{ mform.aumento}} </div>

			<div id="forms_table"> <!-- div principal, contiene los formularios -->
				<div id="univformset_content" class="form_content">
                    {% for univform in univformset %}
                    {{ univform.id }}

                    {% if univform in univformset.deleted_forms or univform.DELETE.value == "on" %}
                    <div class="form_cargo" style="display:none">
                    {% else %}
				    <div class="form_cargo">
                    {% endif %}
                        <!-- Errores del formulario que no se relacionan con ningun campo en particular -->
                        {{ univform.non_field_errors }}
					    <table>
						    <tr>
							    <td> {{ univform.cargo.label_tag }}: </td>
							    <td> {{ univform.cargo }} </td>
						    </tr>
						    {% if univform.cargo.errors %}
                            <tr class="error"> <td colspan="2"> {{ univform.cargo.errors }} </td></tr>
                            {% endif %}
						    <tr>
							    <td> {{ univform.antiguedad.label_tag }}:</td>
							    <td> {{ univform.antiguedad }} </td>
						    </tr>
						    {% if univform.antiguedad.errors %}
                            <tr class="error"> <td colspan="2"> {{ univform.antiguedad.errors }} </td></tr>
                            {% endif %}
						    <tr>
							    <td>T&iacute;tulos adicionales:</td>
						    </tr>
						    <tr >
							    <td colspand=2><blockquote>
								    {{ univform.master }} {{ univform.master.label_tag }} 
								    <br>
								    {{ univform.doctorado }} {{ univform.doctorado.label_tag }}
								    </blockquote><br>
							    </td>
						    </tr>
					    </table>
                        <p class="agregar_quitar rightalign">
                        	<a href="#" onclick="hide_father(this,univPrefix);enable_disable(calculateButtonId,univPrefix,preunivPrefix);">Quitar</a>
                        </p>
                        <!-- Necesario para django, marca que forms estan marcados para borrar del formset -->
                        <div style="display:none">
                            {{ univform.DELETE }}
                        </div>
				    </div> <!--form_cargo-->
                    {% endfor %}

				    <a id="nuevo_cargo_univ" class="agregar_quitar" href="#" onclick="show_new_form_HTML('univformset_content', univDivAttrs,
                    '<table>\
                            <tr>\
                                <td> {{ univformset.empty_form.cargo.label_tag|escapejs }}: </td>\
                                <td> {{ univformset.empty_form.cargo|escapejs }} </td>\
						    </tr>\
						    <tr>\
							    <td> {{ univformset.empty_form.antiguedad.label_tag|escapejs }}:</td>\
							    <td> {{ univformset.empty_form.antiguedad|escapejs }} </td>\
						    </tr>\
						    <tr>\
							    <td>T&iacute;tulos adicionales:</td>\
						    </tr>\
						    <tr>\
							    <td colspand=2><blockquote>\
								    {{ univformset.empty_form.master|escapejs }} {{ univformset.empty_form.master.label_tag|escapejs }}\
								    <br>\
								    {{ univformset.empty_form.doctorado|escapejs }} {{ univformset.empty_form.doctorado.label_tag|escapejs }}\
								    </blockquote>\
								    <br>\
							    </td>\
						    </tr>\
					    </table>\
                        <p class=\'agregar_quitar rightalign\'><a href=\'#\' onclick=\'hide_father(this, univPrefix);enable_disable(calculateButtonId,univPrefix,preunivPrefix);\'>Quitar</a></p>\
                        <div style=\'display:none\'>\
                            {{ univformset.empty_form.DELETE|escapejs }}\
                        </div>',
                    univPrefix, 'nuevo_cargo_univ');enable_disable(calculateButtonId,univPrefix,preunivPrefix);">[+] A&ntilde;adir Cargo Universitario</a>
			    </div> <!-- univformset_content -->
			
			<!--mbio form-->
			
			<div id="preunivformset_content" class="form_content">
                {% for preunivform in preunivformset %}
                
                {{ preunivform.id }}

                {% if preunivform in preunivformset.deleted_forms or preunivform.DELETE.value == "on" %}
                <div class="form_cargo" style="display:none">
                {% else %}
                <div class="form_cargo">
                {% endif %}
				    <table>
						<tr>
							<td> {{ preunivform.cargo.label_tag }}: </td>
							<td> {{ preunivform.cargo }} </td>
						</tr>
					    {% if preunivform.cargo.errors %}
	                    <tr class="error">
	                        <td colspan="2" > 
    	                        {% for error in preunivform.cargo.errors %}
	                                ^ {{ error }} 
	                            {% endfor %}
	                        </td></tr>
                        {% endif %}

						<tr>
							<td> {{ preunivform.horas.label_tag }}: </td>
							<td> {{ preunivform.horas }} </td>
						</tr>
                        <!-- El siguiente widget nos dice que cargo es "pago por hora" y cual no -->
                         <tr style="display:none">
							<td> {{ preunivform.pago_por_horas_info }} </td>
						</tr>

					    {% if preunivform.horas.errors %}			        
	                    <tr class="error">
	                        <td colspan="2" > 
    	                        {% for error in preunivform.horas.errors %}
	                                ^ {{ error }} 
	                            {% endfor %}
	                        </td></tr>
                        {% endif %}

						<tr>
							<td> {{ preunivform.antiguedad.label_tag }}:</td>
							<td> {{ preunivform.antiguedad }} </td>
						</tr>

					    {% if preunivform.antiguedad.errors %}			        
	                    <tr class="error">
	                        <td colspan="2" > 
    	                        {% for error in preunivform.antiguedad.errors %}
	                                ^ {{ error }} 
	                            {% endfor %}
	                        </td></tr>
                        {% endif %}

				    	<tr>
						    <td>T&iacute;tulos adicionales:</td>
				    	</tr>
				    	<tr>
						    <td colspand="2"><blockquote>
						    {{ preunivform.master }} {{ preunivform.master.label }} 
						    <br>
						    {{ preunivform.doctorado }} {{ preunivform.doctorado.label }}
						    </blockquote>
						    </td>
					    </tr>
					</table>
                    <p class="agregar_quitar rightalign">
                        <a href="#" onclick="hide_father(this,preunivPrefix);enable_disable(calculateButtonId,univPrefix,preunivPrefix);">Quitar</a>
                    </p>
                    <!-- Necesario para django, marca que forms estan marcados para borrar del formset -->
                    <div style="display:none">
                        {{ preunivform.DELETE }}
                    </div>
                </div> <!-- form_cargo-->
                {% endfor %}

                <a id="nuevo_cargo_pre" class="agregar_quitar" href="#"
                onclick="show_new_form_HTML('preunivformset_content', univDivAttrs,
                    '<table>\
                            <tr>\
                                <td> {{ preunivformset.empty_form.cargo.label_tag|escapejs }}: </td>\
                                <td> {{ preunivformset.empty_form.cargo|escapejs }} </td>\
						    </tr>\
						    <tr>\
							    <td> {{ preunivformset.empty_form.horas.label_tag|escapejs }}: </td>\
							    <td> {{ preunivformset.empty_form.horas|escapejs }} </td>\
						    </tr>\
                            <tr>\
							    <td> {{ preunivformset.empty_form.pago_por_horas_info|escapejs }} </td>\
						    </tr>\
						    <tr>\
							    <td> {{ preunivformset.empty_form.antiguedad.label_tag|escapejs }}:</td>\
							    <td> {{ preunivformset.empty_form.antiguedad|escapejs }} </td>\
						    </tr>\
						    <tr>\
							    <td>T&iacute;tulos adicionales:</td>\
						    </tr>\
						    <tr>\
							    <td colspand=2><blockquote>\
								    {{ preunivformset.empty_form.master|escapejs }} {{ preunivformset.empty_form.master.label_tag|escapejs }}\
								    <br>\
								    {{ preunivformset.empty_form.doctorado|escapejs }} {{ preunivformset.empty_form.doctorado.label_tag|escapejs }}\
								    </blockquote>\
							    </td>\
						    </tr>\
					    </table>\
                        <p class=\'agregar_quitar rightalign\'><a href=\'#\' onclick=\'hide_father(this, preunivPrefix);enable_disable(calculateButtonId,univPrefix,preunivPrefix);\'>Quitar</a></p>\
                        <div style=\'display:none\'>\
                            {{ preunivformset.empty_form.DELETE|escapejs }}\
                        </div>',
                    preunivPrefix, 'nuevo_cargo_pre');enable_disable(calculateButtonId,univPrefix,preunivPrefix);">[+] A&ntilde;adir Cargo Nivel Medio</a>
            </div><!-- form content-->
					<div ><input id="calculate" type="submit" value="Calcular" /></div>
			</div><!-- forms_table-->


		</form>    
        <!-- Script para setear valores iniciales de variables luego de cargar el body -->
        <script type="text/javascript">
            univPrefix = "univcargo";
            preunivPrefix = "preunivcargo";
            univDivAttrs = {};
            univDivAttrs['class'] = 'form_cargo';
            formset_init(univPrefix, "univformset_content");
            formset_init(preunivPrefix, "preunivformset_content");
            calculateButtonId = "calculate";
            enable_disable(calculateButtonId, univPrefix, preunivPrefix);
        </script>

	</body>

</html>
